:root{
	--ash-gray: #cad2c5ff;
    --dark-sea-green: #84a98cff;
    --hookers-green: #52796fff;
    --dark-slate-gray: #354f52ff;
    --charcoal: #2f3e46ff;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	height: 150px;
	background-color: var(--dark-slate-gray);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.229);
}